body{
    padding: 50%;
    font-family: sans-serif;
    background-color: #1d006d;
  }

  .register{
    margin-top: 3%;
    margin-top: 0%;
    width: 100%;
    height: 100%;
    background: rgb(2, 63, 92);
    color: rgb(255, 255, 255);
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }

  .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }

  h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }

  .register p{
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  .register input{
    width: 100%;
    margin-bottom: 20px;
  }

  .register input[type="text"], input[type="password"]
  {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  .register input[type="submit"]
  {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }

  .loginbox input[type="register"]
  {
    border: none;
    outline: none;
    height: 40px;
    background:#015024;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }

  .register input[type="submit"]:hover
  {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }

  .register input[type="register"]:hover
  {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }

  .register a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }

  .register a:hover
  {
    color: #ffc107;
  }

  


